*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: black;
    color: white;
}

header {
    display: flex;
    padding: 8px;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;

    .logo {
        font-stretch: condensed;
        font-weight: 700;
        font-size: 20px;
    }

    button {
        padding: 8px;
    }
}

main {
    height: calc(100vh - 56px - 96px - 8px);
    padding: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;

    .input,
    .output {
        position: relative;
        flex: 1;
        background-color: #222;
        border: 1px solid #444;
        border-radius: 6px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        button {
            display: none;
            position: absolute;
            bottom: 8px;
            right: 8px;
            height: 48px;
            width: 48px;
        }

        button:not(:has(+ img[src=""])) {
            display: block;
            z-index: 1;
        }

        img {
            backdrop-filter: blur(4px);
            background-color: rgba(0, 0, 0, 0.3);
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        img[src=""] {
            display: none;
        }
    }
}

button {
    cursor: pointer;
    border-radius: 6px;
    border: 0;
    background-color: #222;
    border: 1px solid #444;

    svg {
        width: 24px;
    }
}

form {
    padding: 8px;
    padding-top: 0;
    gap: 8px;
    display: flex;

    .action {
        display: flex;
        gap: 8px;
        flex-direction: column;

        button {
            height: unset;
            flex: 1;
        }
    }

    button {
        width: 96px;
        height: 96px;
    }

    input[type="file"] {
        display: none;
    }

    textarea {
        flex: 1;
        min-height: 96px;
        border-radius: 6px;
        background-color: #222;
        border: 1px solid #444;
        padding: 8px;
        resize: none;
    }
}

#overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    svg {
        height: 48px;
        width: 48px;
        animation: spin 1s infinite linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.templates {
    position: absolute;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 0;
    button {
        position: unset !important;
    }
}
